@page
@model BucketListApplication.Pages.Collection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Collection</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Element[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Element) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
        }
    </tbody>
</table>
