/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.border-top {
  border-top: 3px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #25272a;
    color: #9b9da1;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.header {
    background-color: #18191c;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #18191c;
    color: #9b9da1;
    line-height: 60px; /* Vertically center the text there */
}

/*MyCSS*/
.myBtn {
    display: inline;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
}

.myBtn:focus, .backBtn:focus {
    box-shadow: 0 0 0 0.1rem #9b9da1;
}

.submitBtn {
    background-color: #495da6;
    padding: 0.375rem 1rem;
}

.submitBtn:hover {
    color: white;
    background-color: #354992;
    text-decoration: none;
}

.backBtn {
    color: #495da6;
    border-color: #495da6;
}

.backBtn:hover {
    color: white;
    border-color: #495da6;
    background-color: #495da6;
}

.input {
    background-color: #1e1f20;
    border-color: black;
    color: #9b9da1;
}

.input:focus {
    background-color: #1e1f20;
    border-color: black;
    color: #9b9da1;
    box-shadow: 0 0 0 1px #677bc4;
}

input[disabled], select[disabled], textarea[disabled] {
    color: #9b9da1;
    background-color: #36393f !important;
    border-color: black;
}

    /*Edit + Create page*/
h3 {
    color: white;
    margin-bottom: 1.5rem;
}

.firstColumn {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
}

.editRow {
    line-height: 2.25rem;
    width: 100%;
}

.completedRow {
    line-height: 5rem;
}

.table {
    color: #9b9da1;
}

.table > tbody > tr > td {
    border-top: none;
}

.mt-40 {
    margin-top: 40px;
}

.horiz-center {
    display: flex;
    justify-content: center;
}

.dirColumn-centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myFormGroup {
    padding-top: 1rem;
    width: 95%;
}

/*Completed toggle styles*/
.switchToggle input[type=checkbox] {
    display: none;
}

.switchToggle label {
    cursor: pointer;
    width: 80px;
    max-width: 80px;
    height: 30px;
    /*No color*/
    background: #36393f;
    display: block;
    border-radius: 100px;
    position: relative;
}

input[disabled] ~ label {
    cursor: default;
}

/*Circle*/
.switchToggle label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
}

.switchToggle input + label:before, .switchToggle input + input + label:before {
    content: 'Nem';
    position: absolute;
    top: -29px;
    left: 36px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

/*Yes color*/
.switchToggle input:checked + label, .switchToggle input:checked + input + label {
    background: #1b6dc2;
}

.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {
    content: 'Igen';
    position: absolute;
    top: -29px;
    left: 10px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.toggle-switchArea {
    margin: 10px 0 10px 0;
}

/*Category checkboxes styles*/
input[type="checkbox"].categoryCheckbox {
    display: none;
}

input[type="checkbox"].categoryCheckbox + label {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"].categoryCheckbox + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"].categoryCheckbox + label:before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .1s;
    transition: all .12s, border-color .1s;
}

input[type="checkbox"]:checked.categoryCheckbox + label:before {
    width: 0.6rem;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}