@page
@model BucketListApplication.Pages.Social.IndexModel

@{
    ViewData["Title"] = "Index";
}

<section class="col-lg-6">
    <div class="mt-40">
        <form asp-page="./Index" method="get">
            <label for="SearchString" class="control-label">Keress név alapján:</label>
            <div class="form-group" style="display: flex; align-items: center;">
                <input class="form-control input" type="text" name="SearchString" id="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Keresés" class="btn myBtn submitBtn" />
            </div>
        </form>
    </div>
    <table class="table">
        @if (Model.Users != null)
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td style="font-size: 1.5rem">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td style="vertical-align: middle">
                        <a asp-page="./UserCheck" asp-route-id="@item.Id">Megtekintés</a>
                    </td>
                </tr>
            }
        }
    </table>
</section>

<style>
    #SearchString {
        width: 50%;
        margin-right: 10px;
    }
</style>