@page
@model BucketListApplication.Pages.Social.UserCheckModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="SelectedBucketList.BucketListID" class="control-label">Válassz egy listát:</label>
        <select asp-for="SelectedBucketList.BucketListID" class="form-control" asp-items="Model.BucketListSL"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Listáz" class="btn btn-primary" />
    </div>
</form>

@if (Model.SelectedBLElements != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cél
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-page="./Index">Vissza</a>
</div>


