@page
@model BucketListApplication.Pages.Social.UserCheckModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.Title</h3>

<form method="post" id="bucketlistselectform">
    <div class="form-group">
        <label asp-for="SelectedBucketList.BucketListID" class="control-label">Válassz egy listát:</label>
        <select asp-for="SelectedBucketList.BucketListID" class="form-control" asp-items="Model.BucketListSL" onchange="SubmitBLEListing()"></select>
    </div>
</form>

@if (Model.SelectedBLElements != null)
{
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold">
                    Cél
                </td>
                <td align="center" class="font-weight-bold">
                    Teljesítve
                </td>
            </tr>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-page="./Index">Vissza</a>
</div>

@section Scripts
{
    <script>
        function SubmitBLEListing() {
            var selectlist = document.getElementById("SelectedBucketList_BucketListID");
            var option = selectlist.options[selectlist.selectedIndex];
            if (option.value != "null")
                document.getElementById("bucketlistselectform").submit();
        }
    </script>
}