@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <label asp-for="Username">Bejelentkezéshez használt e-mail cím</label>
                <input asp-for="Username" class="form-control input" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName">Teljes név</label>
                <input asp-for="Input.FullName" class="form-control input" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn myBtn submitBtn">Mentés</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}