@page
@model BucketListApplication.Pages.BLElements.CreateModel

@{
    ViewData["Title"] = "Létrehozás";
}

<form method="post">
    <div class="row mt-40" style="display:flex; justify-content:center;">
        <section class="col-lg-5" style="padding-top:3.5rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="width: 100%">
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Name" class="control-label">Cél:</label>
                    </td>
                    <td>
                        <input asp-for="BucketListElement.Name" class="form-control input" required="required" />
                        <span asp-validation-for="BucketListElement.Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.BucketListID" class="control-label">Lista:</label>
                    </td>
                    <td>
                        <select disabled asp-for="BucketListElement.BucketListID" class="form-control" asp-items="Model.BucketListSL"></select>
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Visibility" class="control-label">Láthatóság:</label>
                    </td>
                    <td>
                        <select asp-for="BucketListElement.Visibility" asp-items="Html.GetEnumSelectList<Models.Visibility>()" class="form-control input"></select>
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn" style="vertical-align:top">
                        <label asp-for="BucketListElement.Description" class="control-label">Leírás:</label>
                    </td>
                    <td>
                        <textarea asp-for="BucketListElement.Description" class="form-control input" rows="6"></textarea>
                    </td>
                </tr>
                <tr class="form-group completedRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Completed" class="control-label">Teljesítve:</label>
                    </td>
                    <td>
                        <div class="switchToggle">
                            <input type="checkbox" asp-for="BucketListElement.Completed" id="completed">
                            <label for="completed" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <input type="submit" value="Létrehoz" class="btn myBtn submitBtn" />
                        <a asp-page="../BucketLists/Index" asp-route-selectedbucketlistid="@Model.BucketListElement.BucketListID" class="btn backBtn">Vissza</a>
                    </td>
                </tr>
            </table>
        </section>

        <section class="col-lg-5">
            <h4>Kategóriák</h4>
            <div class="form-group" style="padding-top:1rem">
                <div>
                    @{
                        for (int i = 0; i < Model.AssignedCategoryDataList.Count; i++)
                        {
                            <input type="checkbox"
                                   class="categoryCheckbox"
                                   id="category_@i"
                                   name="selectedCategories"
                                   value="@Model.AssignedCategoryDataList.ElementAt(i).CategoryID"
                                   @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i).Assigned ? "checked=\"checked\"" : "")) />
                            <label for="category_@i">@Model.AssignedCategoryDataList.ElementAt(i).Name</label>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

