@page
@model BucketListApplication.Pages.BLElements.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Törlés</h1>

<p class="Hiba tortent!">@Model.ErrorMessage</p>

<h3>Biztosan törölni szeretnéd?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cél
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BucketListElement.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BucketListElement.ElementID" />
        <input type="submit" value="Töröl" class="btn btn-danger" /> |
        <a asp-page="./Index">Vissza</a>
    </form>
</div>
