@page
@model BucketListApplication.Pages.BLElements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bakancslista</h1>

<p>
    <a asp-page="../BucketLists/CreateBucketList">Új Bakancslista létrehozása</a>
</p>
<p>
    <a asp-page="./Create">Új Bakancslista elem létrehozása</a>
</p>

<form method="post">
    <div class="form-group">
        <label asp-for="SelectedBucketList.BucketListID" class="control-label">Válassz egy Listát</label>
        <select asp-for="SelectedBucketList.BucketListID" class="form-control" asp-items="Model.BucketListSL"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Listáz" class="btn btn-primary" />
    </div>
</form>

@if (Model.SelectedBLElements != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cél
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ElementID">Szerkeszt</a> |
                        <a asp-page="./Details" asp-route-id="@item.ElementID">Részletek</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ElementID">Törlés</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

