@page
@model BucketListApplication.Pages.BucketLists.CreateBucketListModel

@{
    ViewData["Title"] = "CreateBucketList";
}

<div class="row mt-40">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BucketList.Name" class="control-label">Új bakancslista neve:</label>
                <input asp-for="BucketList.Name" class="form-control input" required="required"/>
                <span asp-validation-for="BucketList.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Hozzáad" class="btn myBtn submitBtn"/>
                <a asp-page="../BLElements/Index" class="btn backBtn">Vissza</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
