@page
@model BucketListApplication.Pages.AuthErrorModel
@{
    ViewData["Title"] = "AuthError";
}

<div class="text-center">
    <h1 class="display-4">A kívánt tartalomhoz kérlek jelentkezz be!</h1>
</div>


