@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row" style="display: flex; justify-content:center; align-items: center; height: 75vh">
    <div class="col-md-4" >
        <section>
            <form id="account" method="post">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <button type="button" class="btn btn-outline-primary">Sign up</button>
                    </a>
                </div>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
