@page
@model RegisterModel

@{
    ViewData["Title"] = "Regisztráció";
}

<div class="login-container">
    <div class="col-lg-6 login-form">
        <form method="post">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <div class="form-group">
                <label asp-for="Input.FullName">Név</label>
                <input asp-for="Input.FullName" class="form-control" placeholder="Példa Elemér"/>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">E-mail</label>
                <input asp-for="Input.Email" class="form-control" placeholder="valaki@gmail.com"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Jelszó</label>
                <input asp-for="Input.Password" class="form-control" placeholder="******"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Jelszó ismét</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="******"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btnSubmit">Regisztráció</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .login-container {
        display: flex;
        justify-content: center;
    }

    .login-form {
        margin: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2.5%;
        padding-top: 2.5%;
        background: #36393f;
        color: #b9bbbe;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .login-container form {
        padding-left: 5%;
        padding-right: 5%;
    }

    .login-container label {
        margin-bottom: 5px;
    }

    .login-form h2 {
        text-align: center;
        color: #fff;
    }

    .btnSubmit {
        width: 100%;
        background-color: #677bc4;
        color: white;
        margin-top: 20px;
    }
</style>